<div class="flex flex-col items-center justify-center min-h-screen">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "Go to subscriptions", subscriptions_path, class: 'bg-[#1B2B4B] text-white px-4 py-2 rounded hover:bg-[#85B7EB] no-underline hover:no-underline', style: 'text-decoration: none;' %>
</div>
