<div class="flex px-10 pt-10">
  <div class="w-[45%] flex flex-col">
    <%= turbo_frame_tag "calendar", class: "flex flex-col" do %>
      <%= render "subscriptions/calendar", subscriptions: @calendar_subscriptions %>
    <% end %>
  </div>

  <div class="flex-1 pl-6 pt-2.5 flex flex-col">
    <%= render "subscriptions/search", subscriptions: @subscriptions %>
  </div>
</div>
