<div class="flex px-10 pt-3">
  <div class="w-[45%]">
    <%= turbo_frame_tag "calendar" do %>
      <%= render "subscriptions/calendar", subscriptions: @subscriptions %>
    <% end %>
  </div>
  <p class="ml-10">"Hi the list of subs will sit there"</p>
</div>
